.LHS{
    padding: 3%;
}

#searchinput, #searchbutton{
    margin-top: 5%;
    width: 100%;
}

.smallcard{
    background-color: rgb(33, 33, 149);
    color: white;
}

#metacontainer{
    margin-right: 0;
}

@media screen and (max-width: 739px){
    #metacontainer{
        flex-direction: column;
        align-items: center;
        margin-bottom: 2%;
        margin-left: 0;
        margin-right: 0;
    }

    .LHS-outer{
        align-items: center;
    }

    .LHS, .RHS{
        align-items: center;
    }
    
    .weatherContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;
    }   

    .card{
        margin-top: 2%;
    }

    .smallcard{
        width: 50vw;
    }

    .BigWeather{
        margin-right: 0!important;
    }

    #searchtitle{
        text-align: center;
    }
}